<div class="container mt-5">
  <form action="/shorten" method="post">
    <input type="text" name="URL" value="{{originURL}}">
    <button type="submit">產生短網址</button>
    <textarea class="ml-5" style="color: brown;" for="shorturl">{{shortURL}}</textarea>
  </form>
</div>