<div class="container mt-5">
  <form action="/shorten" method="post">
    <input type="text" name="URL">
    <button type="submit">產生短網址</button>
    <label class="ml-5" style="color: brown;" for="shorturl">{{shorturl}}</label>
  </form>
</div>