<div class="container mt-5">
  <form action="/shorten" method="post">
    <div class="row justify-content-center text-center">

      <div class="card row" style="width: 35rem;  border-style:outset;">
        <img src="/images/URLshotener.jpeg" class="card-img-top">
        <div class="card-body">
          <div class="col-12 mx-auto">
            <input type="text" class="my-2 w-100" style=" border-radius:5px ; height:2.5em" name="URL"
              value="{{originURL}}">
          </div>
          {{#if shortURL}}
          <div class="col-12">
            <label class="my-3" id="shorturl" type="text" style="color: brown; vertical-align:middle" for="shorturl">
              http://{{hostname}}:3000/{{shortURL}}</label>
            <button class="btn btn-outline-secondary ml-1" id="copy" data-clipboard-target="#shorturl"><i
                class="far fa-copy"></i></button>
          </div>
          {{/if}}
          <div class="col-12">
            <button class="btn" style="background-color: #F73E68; color:white" type="submit">產生短網址</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>